body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header{
  background-color: #ffc107 !important;
}

.container{
  width: 80%;
  margin: auto auto 50px auto;
}

.label{
  background-color: #ffc107;
  margin: 5px;
}

.blue {
  background: #384ca2
}

.red {
  background: red;
}
